*.pth
.idea/
__pycache__
src/runs
runs
checkpoints/
datasets/ChairsSDHom
datasets/chairs_32
.ipynb_checkpoints
src/barevision.egg-info/
tmp/
test_checkpoints/
datasets/frames/
datasets/videos/
test_runs/
notebooks/
flow.npy
experiments/
.qwen/
changes.md
progress.md
